# Copiez ce fichier en .env pour votre environnement local
# NE METTEZ JAMAIS DE VRAIES CLÉS EN PRODUCTION ICI.

DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# Remplacez ceci par une vraie clé forte (32 caractères) en production
ENCRYPTION_KEY="this-is-a-super-secret-test-key!"
RSA_PUBLIC_KEY_PATH="%kernel.project_dir%/config/jwt/public.pem"
RSA_PRIVATE_KEY_PATH="%kernel.project_dir%/config/jwt/private.pem"
RSA_PASSPHRASE=""
